footer {
	min-height: 8vh;
	width:100%;
	z-index: 100;
	bottom:0;
	position: fixed;
	background-color: #1e1e1e;

}

// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		margin-top: rem-calc(60);
	}
}
