.h4issue {
	color: white;
}

.h4issueinfo {
	color: white;
	margin-bottom: 35px;
}

.h3issue {
	color: white;
}

.h2issue {
	color: white;
}


#descriptionissue {
	background-color: #262626;
	height: 285px;
}

#issue {
	background-color: #262626;
	height: 285px;
}

#listing-issues {
	width: 100%;
	background-color:#fbc026;
	height: 285px;
}

.issue_cover {
	width: 100%;
	max-height: 285px;
}

#englobissue {
	background-color: #262626;
}